*{
    padding: 0px;
    margin: 0px;
}

/* Color Theme Swatches in RGBA */
.Trio-of-Lakers-1-rgba { color: rgba(46, 21, 63, 1); }
.Trio-of-Lakers-2-rgba { color: rgba(68, 35, 114, 1); }
.Trio-of-Lakers-3-rgba { color: rgba(37, 2, 114, 1); }
.Trio-of-Lakers-4-rgba { color: rgba(242, 214, 75, 1); }
.Trio-of-Lakers-5-rgba { color: rgba(242, 192, 99, 1); }
body{
    background-image: url(../assets/NBAbubblefeatured.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*navbar*/

.fondo-nav{
    background-color: rgba(46, 21, 63, 0.9);
}
.logo-nav{
    width: 100px;
}

/*animacion botones navbar*/

.boton{
    border: 2px solid #3c66e3;
    border-radius: 15px;
}
.boton:hover{
    animation: pulsate 1s ease-in-out;
}
@keyframes pulsate{
    0%{
        box-shadow: 
        0 0 10px #5ddcff,
        0 0 15px #4e00c2;
    }
}

/*contenido*/

section{
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5%;
}
h1{
    border-bottom: 2px solid rgba(242, 214, 75, 1);
}
.lebron-james{
    width: 360px;
}
.centrado{
    padding-top: 10%;
}
.centrado h2{
    border-bottom: 2px solid rgba(242, 214, 75, 1);
    padding-bottom: 2px;
}
.info-personal h3{
    border-left: 2px solid rgba(242, 214, 75, 1);
    padding-left: 2px;
}

/*pagina de trayectoria*/

.trayectoria figure img{
    width: 250px;
    margin-left: 50px;
    margin-right: 0px;
}
.trayectoria{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "titulo titulo"
                        "imagen equipoa"
                        "imagen equipob"
                        "imagen equipoc";
}

.titulo{
    grid-area: titulo;
    text-align: center;
}
.lebron-rookie{
    grid-area: imagen;
}
.cleveland{
    grid-area: equipoa;
    display: flex; 
    flex-direction: column;
    border-bottom: 2px solid rgba(242, 214, 75, 1);
}
.heat{
    grid-area: equipob;
    display: flex; 
    flex-direction: column;
    border-bottom: 2px solid rgba(242, 214, 75, 1);
}
.lakers{
    grid-area: equipoc;
    display: flex; 
    flex-direction: column;
} 
.logo-equipo{
    width: 100px;
}


/*pie de pagina*/

footer{
    background-color: rgba(46, 21, 63, 0.9);
}

/*Vista tablet*/
@media screen and (max-width: 768px ){
    .trayectoria{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "titulo"
                            "imagen"
                            "equipoa"
                            "equipob"
                            "equipoc";
    }
    .titulo{
        grid-area: titulo;
        text-align: center;
    }
    .lebron-cavs-rookie{
        width: 150px !important;
    }
    .lebron-rookie{
        grid-area: imagen;
        display: block !important;
        margin: auto;
    }
    .cleveland{
        grid-area: equipoa;
        display: flex; 
        flex-direction: column;
        border-bottom: 2px solid rgba(242, 214, 75, 1);
        text-align: center;
    }
    .heat{
        grid-area: equipob;
        display: flex; 
        flex-direction: column;
        border-bottom: 2px solid rgba(242, 214, 75, 1);
        text-align: center;
    }
    .lakers{
        grid-area: equipoc;
        display: flex; 
        flex-direction: column;
        text-align: center;
    }
    .logo-equipo{
        width: 80px;
        padding-left: 20px;
    }
}
/*vista mobile*/
@media screen and (max-width: 320px ){
    .trayectoria{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "titulo"
                            "imagen"
                            "equipoa"
                            "equipob"
                            "equipoc";
    }
    .titulo{
        grid-area: titulo;
        text-align: center;
    }
    .lebron-cavs-rookie{
        width: 100px !important;
    }
    .lebron-rookie{
        grid-area: imagen;
    }
    .cleveland{
        grid-area: equipoa;
        display: flex; 
        flex-direction: column;
        border-bottom: 2px solid rgba(242, 214, 75, 1);
        text-align: center;
    }
    .heat{
        grid-area: equipob;
        display: flex; 
        flex-direction: column;
        border-bottom: 2px solid rgba(242, 214, 75, 1);
        text-align: center;
    }
    .lakers{
        grid-area: equipoc;
        display: flex; 
        flex-direction: column;
        text-align: center;
    }
    .logo-equipo{
        width: 80px;
        padding-left: 20px;
    }
}