@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

/* Color Theme Swatches in RGBA */
.Trio-of-Lakers-1-rgba { color: rgba(46, 21, 63, 1); }
.Trio-of-Lakers-2-rgba { color: rgba(68, 35, 114, 1); }
.Trio-of-Lakers-3-rgba { color: rgba(37, 2, 114, 1); }
.Trio-of-Lakers-4-rgba { color: rgba(242, 214, 75, 1); }
.Trio-of-Lakers-5-rgba { color: rgba(242, 192, 99, 1); }
body{
    background-image: url(../assets/NBAbubblefeatured.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*navbar*/
.fondo-nav{
    background-color: rgba(46, 21, 63, 0.80);
}
.logo-nav{
    width: 100px;
}

/*contenido*/
section{
    background-color: rgba(37, 2, 114, 0.75);
    border-radius: 5%;
}
.lebron-james{
    width: 300px;
}
.centrado{
    padding-top: 15%;
}

